@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("MetaTags", required: false)
    @RenderSection("HeadStyles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @RenderSection("BodyScripts", required: false)
</body>
</html>
